# MySQL (Aiven o local)
MYSQL_URL=mysql+pymysql://USER:PASSWORD@HOST:PORT/DATABASE
DB_URL_BASE=mysql+pymysql://USER:PASSWORD@HOST:PORT

# Oracle
ORACLE_HOST=your_oracle_host
ORACLE_PORT=1521
ORACLE_SERVICE=your_service_name
ORACLE_USER=your_user
ORACLE_PASSWORD=your_password

# PostgreSQL
PG_HOST=your_pg_host
PG_DATABASE=your_database
PG_USER=your_user
PG_PASSWORD=your_password
